@page "/"
@inject NavigationManager Navigation

<h3>
    Choose UI language / Выберите язык интерфейса
</h3>

<MudButton Variant="Variant.Outlined" OnClick=@(() => SelectLanguage("en-US"))>English</MudButton>
<MudButton Variant="Variant.Outlined" OnClick=@(() => SelectLanguage("ru-RU"))>Русский</MudButton>

@code {
    private void SelectLanguage(string culture)
    {
        LocalizationService.SetCurrentCulture(culture);
        Navigation.NavigateTo("/solution");
    }
}
